{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/main.css' %}">
    <div class="d-flex">
        <img class="small-img mr-auto" src="media/ziyech.jpg">
        <img class="small-img" src="media/fernandes.jpg">
        <img class="small-img" src="media/son.jpg">
        <img class="small-img" src="media/trent.jpg">
    </div>

    <h2 class="pt-3 pb-2">FPL Statistics</h2>
    <article class="media content-section">
        All Fantasy Premier League data for the current season of the English Premier League.
    </article>
{% endblock content %}