{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/main.css' %}">
    <div class="jumbotron">
        <h1 class="display-4">FPL Statistics</h1>
        <p class="lead">All Fantasy Premier League data for the current season of the English Premier League.</p>
        <hr class="my-4">
        <p>Click the links above to see any FPL API data.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
{% endblock content %}